.blog  h2,h3{
text-align: center;
}
.blog h2{
    font-size: 50px;
    color: #006400;
}
.blog .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog article {
    margin:15px;
    
}
.blog img{
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    height: 250px;
}
